@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.home{
    


    .home-daniel{
        display: flex;
        box-sizing: border-box;
        height: 800px;

        .about-daniel{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(226, 226, 226);


            h1{
                font-size: 100px;
                text-align: center;
                color: rgb(34, 34, 34);
            }

            p{
                width: 300px;
                font-size: 20px;
                text-align: center;
            }

            a{
                color: orange;
            }
        }

        .image-daniel{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span{
                display: block;
                font-family: 'Dancing Script', cursive;
                font-size: 30px;
                margin-left: 150px;
                transform: rotate(-10deg) scale(0.9);

            }
        }
    }

    .home-books{
        h1{
            text-align: center;
            font-size: 50px;
            margin: 100px 100px;
        }

        .daniel-books{
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 100px;
           
           

            .book1{
                width: 100%;

            }
            
            .inner-book{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                p{
                    border: 1px solid;
                    width: 30px;
                }
            }


            .book2{
                width: 100%;
                
            }
        }
    }

    .daniel-last-book{
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;

        .last-book{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p{
                border: 1px solid;
                width: 30px;
            }
        }

        .last-book-text{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 250px;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-right: 100px;
            font-style: italic;
            gap: 5px;
            line-height: 30px;

            a{
                color: orange;
            }
        }
    }


    .reviews{
        background-color: rgb(226, 226, 226);
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h1{
            text-align: center;
            font-size: 50px;
            
        }

        .media-reviews{
           margin-top: 30px;
           display: flex;
           justify-content: space-around;
           text-align: center;
           gap: 100px;

            div{
                width: 250px;

                p{
                    border: 2px solid;
                    width: 30px;
                    margin-left: 110px;
                }
            }
        }

        .link-reviews{
            margin-top: 50px;
            a{
                color: orange;
            }
        }
    }

    
}


@media screen and (max-width: 480px){
    .home{
        .home-daniel{
            display: flex;
            flex-direction: column-reverse;
            margin-top: 50px;

            .about-daniel{
                
              h1{
                 font-size: 30px;
              }

              a{
                margin-bottom: 15px;
              }
            }

            .image-daniel{
                margin-bottom: 20px;
            }
        }


        .home-books{
            h1{
                width: 100%;
                font-size: 25px;
                margin-left: 0px;
            }


            .daniel-books{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0px;
                
                
            }
            
           .daniel-last-book{
              display:flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .last-book-text{
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 margin-left: 100px;
              }
           }
        }

        .reviews{
            height: 600px;

            .media-reviews{
                display: block;
            }
        }
    }

}



@media screen and (max-width: 810px){
  .home{
    .home-daniel{
        .about-daniel{
           h1{
               font-size: 50px;
           }
        }

    }

    .home-books{
        .daniel-books{
            gap: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .daniel-last-book{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .last-book-text{
                margin-left:120px;
            }
        }
    }

    .reviews{
        .media-reviews{
            gap: 10px;
        }
    }
  }
}

@media screen and (min-width: 1200px){

}
  